<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col top">
                    <h2 class="text-center mt-3"> {{ name }}'s Todo List</h2>
                    <div class="col text-center top pt-3 my-2">
                        <input [(ngModel)]="todoInput" (keyup.enter)="createTodo()">
                        <button class="btn ml-5" (click)="createTodo()">
                            Add Task</button>

                        <div class="col text-right mb-3">
                            <button class="btn" (click)="deleteAllTodos()">Delete All</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="x in todoList" class="list-group-item container">
                    <ul>
                        <li *ngFor="let chore of todos">
                            <span [ngClass]="{'strike': chore.isChecked}">{{ chore.name }}</span>
                            <span class="padding">
                                <i *ngIf="chore.isChecked === false" (click)="checkOffTodo(chore)" class="far fa-square"></i>
                                <i *ngIf="chore.isChecked === true" (click)="checkOffTodo(chore)" class="far fa-check-square"></i>
                                <button class="btn2 far fa-edit mx-2" (click)="editTodo(chore)"></button>
                                <button class="btn2 far fa-trash-alt" (click)="deleteTodo(chore)"></button>
                            </span>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </section>
</body>